body {
    
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
  
    
  }
  
  section {
    padding: 2em;
    margin: 1em;
  }
  
  #green {
    background-color: #8ffda7;
    order: 1;
  }
  
  #orange {
    background-color: #ffc788;
    flex:  2
  }
  
  #yellow {
    background-color: #ffff92;
    order: 2;
    flex: 1/2
  }
  
  #red {
    background-color: #ff919c;
    order: 1;
    
    
  }
  
  #blue {
    background-color: #98d2ff;
    order: -1;
  }
  
  ul {
    padding: 0;
  }
  
  li {
    background-color: white;
    padding: 1em;
    display: block;
    margin: 1em;
  }
</style>
  
</head>

<body>
  <section id="green">
    <p>GREEN</p>
  </section>
  <section id="yellow">
    <p>YELLOW</p>
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
    </ul>
  </section>
  <section id="orange">
    <p>ORANGE</p>
  </section>
  <section id="red">
    <p>RED</p>
    <ul>
      <li>A</li>
      <li>B</li>
      <li>C</li>
      <li>D</li>
    </ul>
  </section>
  <section id="blue">
    <p>BLUE</p>
  </section>
</body>

</html>
